:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}

@media only screen and (min-width: 900px) {
  :root {
    --container-padding: 32px;
  }
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-padding: 20px;
    --container-width: 1270px;
  }
}
%container,
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

// ############ Flex ############

.flex {
  display: flex !important;
  align-items: center;
  justify-content: space-between;

  & > * {
    min-width: 0;
  }
}

.end {
  justify-content: flex-end;
}

.stretch {
  align-items: stretch;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// ############ Grid ############

.grid {
  width: 100%;
  display: grid !important;
  grid-gap: space(2);
  grid-template-columns: repeat(auto-fill, minmax(var(--col, 275px), 1fr));
}

.grid2 {
  width: 100%;
  display: grid !important;
  --gap: 2;
  grid-gap: calc(var(--gap) * var(--space));
  grid-template-columns: 1fr;
  @include up(730) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid3 {
  width: 100%;
  display: grid !important;
  --gap: 2;
  grid-gap: calc(var(--gap) * var(--space));
  grid-template-columns: 1fr;
  @include up(730) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.grid.fit {
  grid-template-columns: repeat(auto-fit, minmax(var(--col, 275px), 1fr));
}

.grid .full,
.grid2 .full {
  grid-column: 1 / -1;
}

.grid .end {
  justify-content: flex-end;
}

// ############ Stack ############

%stack,
.stack,
.stack-large,
.stack-separated {
  --gap: 2;
  display: grid !important;
  grid-template-columns: 1fr;
  align-content: flex-start;
  grid-gap: calc(var(--gap) * var(--space));

  & > * {
    min-width: 0;
  }
}

.stack-large {
  --gap: 4;
}

.stack-separated {
  --gap: 3;
  --gap-separated: var(--gap);
  grid-gap: calc(var(--gap) * var(--space) * 2);
}

.stack-separated > * + * {
  position: relative;
}

.stack-separated > * + *::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: var(--border);
  top: calc(var(--gap-separated) * var(--space) * -1);
}

.hstack {
  display: flex;
  flex-wrap: wrap;
  --gap: 2;
  margin: calc(var(--gap) * var(--space) * -0.5);
  margin-bottom: calc(var(--gap) * var(--space) * -1);
  margin-top: 0;
}

.nowrap {
  flex-wrap: nowrap;
}

.hstack > * {
  margin-left: calc(var(--gap) * var(--space) * 0.5);
  margin-right: calc(var(--gap) * var(--space) * 0.5);
  margin-bottom: calc(var(--gap) * var(--space));
}

.hstack-large > * + * {
  margin-left: space(4);
}

@for $i from 0 through 5 {
  body {
    .p#{$i} {
      padding: space($i);
    }

    .pt#{$i} {
      padding-top: space($i);
    }

    .pb#{$i} {
      padding-bottom: space($i);
    }

    .px#{$i} {
      padding-left: space($i);
      padding-right: space($i);
    }

    .py#{$i} {
      padding-top: space($i);
      padding-bottom: space($i);
    }

    .my#{$i} {
      margin-top: space($i);
      margin-bottom: space($i);
    }

    .m#{$i} {
      margin: space($i);
    }

    .mx#{$i} {
      margin-left: space($i);
      margin-right: space($i);
    }

    .mt#{$i} {
      margin-top: space($i);
    }

    .mb#{$i} {
      margin-bottom: space($i);
    }

    .mr#{$i} {
      margin-right: space($i);
    }

    .ml#{$i} {
      margin-left: space($i);
    }
  }
}