.page-wrapper{
  background: var(--color);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .page-image{
    height: 100%;
    width: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    z-index: 1;
  }
  .page-content{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    .content-inner{
      padding: 35px;
      h2{
        color: var(--primary);
      }
      p{
        font-size: 22px;
      }
      .btns{
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        .btn{
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: var(--colo);
          padding: 12px 16px;
          background-color: var(--primary);
          text-decoration: none;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          border-radius: 12px;
          margin-top: 50px;
          transition: .2s background-color ease;
          font-size: 18px;
          &+ .btn{
            margin-left: space(3);
          }
          &:hover{
            background-color: darken(#D84754, 3%);
          }
        }
      }
    }
  }
}